# Игнорируем backend при сборке мобильного приложения
backend/

# Игнорируем системные файлы
.git/
.github/
node_modules/

# Игнорируем временные файлы
*.log
.DS_Store
.expo/
.expo-shared/

# Игнорируем файлы разработки
.vscode/
.idea/

